langchain
langchain-openai
dotenv
google-genai
google-generativeai
langchain-google-genai
langchain-anthropic
streamlit
langchain-community
langchain-openai
langgraph
pypdf
beautifulsoup4
langchain-text-splitters
langchain-chroma
sentence-transformers
pydantic
langchain
langchain-groq
langchain-community
langchain-huggingface
langchain-chroma
langgraph
streamlit
# google-serper-api
pypdf
sentence-transformers
chromadb
python-dotenv
langchainhub